
.dropdown {
     position: relative;
     display: inline-block;
     /* border: solid; */
   }
   .project_toggle {
     border:solid  #0DB0C6   ;
     border-radius: 20px;
     outline: none;
     font-size: 20px;
     cursor: pointer;
   }
 
   .project_manu {
     position: absolute;
     top: 110%;
     left: 0;
     right: 0;
     background-color: white;
     color: #908484;
     border: 1px solid #ccc;
     border-radius: 20px;
     z-index: 1;
     box-shadow: 7px 7px 25px 0px #00000033;
     width: 200px;

   }
   .radio_mark{
     display: inline-block;
     height: 20px;
     width: 20px;
     border: 2px solid black;
     border-radius: 50%;
     cursor: pointer;
     margin-right: 10px;
     color: #D9D9D9;
   }
   .project_manu input[type="radio"]:checked ~ .radio_mark {
     background-color: #10AC46;

   }
   .project_item {
     padding: 8px;
     cursor: pointer;
   }
 
   .project_item_img  {
     width: 100%;
 }
 .project_item_img img ,.project_logo img{
     width: 100%;
 }
 .project_item span{
     color: #6C6777; 
     font-size: 20px;
 }
 .view_details_btn{
     background-color: transparent;
     border: none;
     border-bottom: 1px solid  #1878F1;
     color:   #1878F1;

 }


  
 .organizer_card{
     width: 100%;
     box-shadow: 4px 4px 20px -1px #00000040;
     border-radius: 20px;

 }
 .organizer_info{
     width: 80%;
 }
 .organizer_info h3{
     color: #2C3E50;   
 }
   