.dropdown_toggle {
 
    width: 100%;
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    padding: 10px ;
    }

     
    .dropdown_menu {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 100%;
    z-index: 1000;
    box-shadow: 7px 7px 25px 0px #00000033;
    padding: 10px;

    }

    .dropdown_item {
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 10px;
    list-style: none;
    padding: 10px ;
    }

    .dropdown_item:hover,
    .dropdown_item.selected {
    box-shadow: 7px 7px 25px 0px #00000033;

    }

    .dropdown_item.selected {
    font-weight: bold;
    }
    