 .upload_file{
        width: 100%;
        height: 200px;
        border: 1px dashed;
        cursor: pointer;
    }
    .uploaded_file{
        width: 100%;
    }
    .uploaded_file img {
        width: 100%;
        padding-top: 20px;
    }